[submodule "strirus_cad_design"]
	path = strirus_cad_design
	url = https://github.com/Lupasic/strirus_cad_design.git
[submodule "strirus_gazebo_simulation"]
	path = strirus_gazebo_simulation
	url = https://github.com/Lupasic/strirus_gazebo_simulation.git
[submodule "strirus_gym_mujoco_simulation"]
	path = strirus_gym_mujoco_simulation
	url = https://github.com/Lupasic/strirus_gym_mujoco_simulation.git
